{% extends 'app/base.html' %}
{% load humanize %}

{% block content %}

<div class="product-detail">
  <div class="product-detail-image">
    <img src="{{ product.image.url }}" class="product-image">
  </div>

  <div class="product-detail-info">
    <h2>{{ product.name }}</h2>
    <hr>
    <div class="point-fav-section">
      <h4>{{ product.price | intcomma }}ポイント</h4>
      {% if request.user.is_authenticated %}
        <form action="{% url 'app:toggle_fav_prduct_status' %}" method="post">{% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.id }}">
          {% if product in user.fav_products.all %}
            <input type="submit" type="submit" name="fav_botton" value="お気に入りから外す" />
          {% else %}
            <input type="submit" type="submit" name="fav_botton" value="お気に入りする" />
          {% endif %}
        </form>
      {% endif %}
    </div>
    <p>{{ product.description }}</p>

    <div>
      {% if request.user.is_authenticated %}
        <form action="{% url 'app:detail' product.id %}" method="post">{% csrf_token %}
          {{ add_to_cart_form.as_p }}
            <button class="purchase-botton" type="submit">カートに入れる</button>
        </form>
      {% else %}
        <a href="{% url 'app:login' %}?next={{ request.path }}">
          <button class="purchase-button">
            ログインしてカートにいれる
          </button>
        </a>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
